<a href="https://colab.research.google.com/github/kdChen07/Financial_Engineering/blob/main/TTFHH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("data.csv")
data2=pd.read_csv("data2.csv")

In [4]:
data

          date     eu     na
0     2021/9/6  52.13  4.712
1     2021/9/7  53.60  4.568
2     2021/9/8  54.75  4.914
3     2021/9/9  56.33  5.031
4    2021/9/10  58.03  4.938
..         ...    ...    ...
377   2023/3/6  43.50  2.572
378   2023/3/7  44.69  2.687
379   2023/3/8  42.95  2.551
380   2023/3/9  42.00  2.543
381  2023/3/10  50.10  2.430

[382 rows x 3 columns]

In [5]:
data2

           date    rate
0      2005/2/9  1.2810
1     2005/2/10  1.2876
2     2005/2/11  1.2865
3     2005/2/14  1.2973
4     2005/2/15  1.3023
...         ...     ...
4703   2023/3/6  1.0682
4704   2023/3/7  1.0549
4705   2023/3/8  1.0544
4706   2023/3/9  1.0582
4707  2023/3/10  1.0640

[4708 rows x 2 columns]

In [6]:
data3 = pd.merge(left = data, 
                                     right = data2, 
                                     how = 'left', 
                                     left_on = 'date', 
                                     right_on = 'date')

In [7]:
data3

          date     eu     na    rate
0     2021/9/6  52.13  4.712  1.1870
1     2021/9/7  53.60  4.568  1.1842
2     2021/9/8  54.75  4.914  1.1815
3     2021/9/9  56.33  5.031  1.1827
4    2021/9/10  58.03  4.938  1.1811
..         ...    ...    ...     ...
377   2023/3/6  43.50  2.572  1.0682
378   2023/3/7  44.69  2.687  1.0549
379   2023/3/8  42.95  2.551  1.0544
380   2023/3/9  42.00  2.543  1.0582
381  2023/3/10  50.10  2.430  1.0640

[382 rows x 4 columns]

In [8]:
data3.to_csv("data3.csv")

In [9]:
from google.colab import files
files.download("data3.csv")