<a href="https://colab.research.google.com/github/kdChen07/Financial_Engineering/blob/main/usa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import logging
import pandas as pd
import requests
import json

In [6]:
!pip install census
!pip install us

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: census in /usr/local/lib/python3.8/dist-packages (0.8.19)
Requirement already satisfied: requests>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from census) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=1.1.0->census) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=1.1.0->census) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=1.1.0->census) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: us in /usr/local/lib/python3.8/dist-packages (2.0.2)
Requirement already satisfied: jellyfish==0.6.1 in /usr/local/lib/python3.8/dist-packages (from us) (0.6.1)

In [14]:
data=requests.get(url='https://api.census.gov/data/timeseries/intltrade/exports/hs?get=E_COMMODITY,ALL_VAL_YR,QTY_1_MO,QTY_1_MO_FLAG&time=2013-01&COMM_LVL=HS2')
data=data.json()

# res=data['results'] #获取键名为results的对应值，为字典格式
df=pd.DataFrame(data) #将res转换为数据框格式，便于清洗和处理

In [ ]:
data

In [16]:
df

              0            1         2              3        4         5
0   E_COMMODITY   ALL_VAL_YR  QTY_1_MO  QTY_1_MO_FLAG     time  COMM_LVL
1            03    210922660         0              M  2013-01       HS2
2            01     74350735         0              M  2013-01       HS2
3            02   1261389248         0              M  2013-01       HS2
4            04    342009977         0              M  2013-01       HS2
..          ...          ...       ...            ...      ...       ...
93           91     99292184         0              M  2013-01       HS2
94           85  13351270598         0              M  2013-01       HS2
95           82    442835300         0              M  2013-01       HS2
96           83    357157632         0              M  2013-01       HS2
97           84  16398830844         0              M  2013-01       HS2

[98 rows x 6 columns]